/*
body, html {
  height: auto;
  overflow: hidden;
}*/

.bg {
  /* The image used */
  background-image: url("background.jpg");

  /* Full height */
  height: 100%;
  width: 100%;


  z-index: -100;

  position: absolute;
  margin: 0px;
  overflow: hidden;
  top: 0px;
  bottom: 0px;

  /* Center and scale the image nicely
  -webkit-background-size: cover;
  -moz-background-size: cover;*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#rcorners1 {
  float: left;
  border-radius: 25px;
  background: white;
  padding: 20px;
  width: 200px;
  height: 200px;
  border-style: solid;
  border-width: 10px;
  border-color: orange;

}
#rcorners11 {
  position: absolute;
  top: 10%;
  border-radius: 25px;
  background: white;
  padding: 20px;
  width: 200px;
  height:380px;
  border-style: solid;
  border-width: 10px;
  border-color: orange;

}

#rcorners2 {
  float: left;
  border-radius: 25px;
  background: white;
  padding: 20px;
  width: 200px;
  height: 200px;
  border-style: solid;
  border-width: 10px;
  border-color: skyblue;
}


#rcorners22 {
  position: absolute;
  top: 10%;
  border-radius: 25px;
  background: white;
  padding: 20px;
  width: 200px;
  height:200px;
  border-style: solid;
  border-width: 10px;
  border-color: orange;
}

#rcorners3 {
  float: left;
  border-radius: 25px;
  background: white;
  padding: 20px;
  width: 200px;
  height: 200px;
  border-style: solid;
  border-width: 10px;
  border-color: mediumvioletred;
}

#containers {

	position: fixed;
	left: 40%;
	top:50%;
	transform: translate(-30%, -10%);

 }

 #containers2 {

	position: fixed;
	left: 40%;
	top:23%;
	transform: translate(-30%, -10%);

 }

 .container2 {

	position: fixed;
	left: 40%;
	top:50%;
	transform: translate(-30%, -10%);

 }

 div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

/* Bordered form */
form {
  border: none;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 100%;
  padding: 10px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: orange;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Add padding to containers */
.container {
  padding: 3px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
